$mainScreen: 1024px

header.header
	width: 100%
	margin: 0 auto
	padding: 15px 0
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	background-color: #ffffff

	.logo
		width: 60%
		padding-left: 15px
		display: flex

		@media screen and (min-width: $mainScreen)
			width: 20%

		img
			width: 325px
			height: auto

	.header-social
		width: 20%
		padding-right: 15px
		display: none
		font-size: 30px

		@media screen and (min-width: $mainScreen)
			display: flex

		a
			padding: 0 4px
			transition: .5s
			color: #333333

			&:hover
				transition: .5s
				color: orange

	.header-navigation
		width: 60%
		padding-left: 15px
		display: none

		@media screen and (min-width: $mainScreen)
			display: flex

	ul
		min-width: 300px
		display: flex
		list-style: none
		margin: 0 auto
		padding: 0

	.current-menu-item
		a
			color: #ffffff
			background-color: orange

	li
		display: block
		margin: 0 auto
		padding: 0
		position: relative

		ul
			position: absolute
			min-width: 325px
			top: 48px
			z-index: 999
			display: none
			margin: 0 auto
			padding: 0

		&:hover
			a
				color: #ffffff
				background-color: orange
				transition: .5s
			ul
				display: block

		a
			color: #000
			display: block
			margin: 0 auto
			padding: 12px
			margin: 0 2px
			text-transform: uppercase
			text-decoration: none
			transition: .5s

			&:hover
				color: #ffffff
				background-color: #FBBB44
				transition: .5s

.mobile-toggle
	width: 20%
	display: flex
	font-size: 35px

	@media screen and (min-width: $mainScreen)
		display: none
