html, body
    height: 100%

.wrapper
    height: 100%
    background-color: whitesmoke
    display: flex
    flex-direction: column

h1, h2, h3, h4, h5, h6
    color: #000000

a
    color: orange
    transition: 1s

    &:hover
        transition: 1s
        color: #000000

.site-header
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    padding: 5px  0
    margin: 0 auto
    position: fixed
    border-bottom: solid 1px #cccccc
    background-color: whitesmoke

    @media screen and (min-width: 800px)
        padding: 25px

.header-logo
    width: 250px
    margin: 0
    padding: 3px 0 0 0
    text-align: left

    @media screen and (min-width: 800px)
        width: 100%
        padding: 0 0 

.logo
    width: 100%
    display: block
    margin: 0 auto
    padding: 0 0

.header-navbar
    text-align: right

    .menu-toggle
        display: block
        margin: 0
        padding: 0 0
        font-size: 45px

        @media screen and (min-width: 800px)
            display: none

    ul 
        display: none
        width: 100%
        margin: 0 auto
        padding: 10px 0

        @media screen and (min-width: 800px)
            display: block

        .current-menu-item
            background-color: orange
            a 
                color: #fff

        li 
            display: inline-block
            position: relative
            text-align: center


            &:hover
                background-color: orange

            &:hover .sub-menu
                display: block


            .sub-menu
                width: 100%
                display: none
                margin: 0 auto
                padding: 0 0
                position: absolute
                top: 64px
                left: 0
                text-align: center
                background-color: orange
                //background-color: blue


        a 
            width: 100%
            min-width: 150px
            display: block
            margin: 0 auto
            padding: 20px
            text-decoration: none

            &:hover 
                background-color: orange
                color: #fff

    // ul
    //     display: flex
    //     flex-direction: row-reverse
    //     height: 100%
    //     margin: 0 
    //     padding: 0 0
    //     text-align: right

    // li 
    //     display: block
    //     list-style: none
    //     margin: 0
    //     padding: 0 0
    //     position: relative

    // a 
    //     font-size: 18px
    //     padding: 20px
    //     display: block
    //     margin: 0 auto
    //     color: #000

    //     &:hover
    //         background-color: orange
    //         color: #fff



.site-content
    width: 100%
    flex: 1 0 auto
    padding-top: 78px

    @media screen and (min-width: 800px)
        padding-top: 135px


.footer
    width: 100%
    margin: 0 auto
    padding: 30px 0
    flex-shrink: 0
    text-align: center
    align-items: center
    justify-content: center
























































// .site-header
//     margin: 0 auto

//     .header-logo
//         display: none
        
//         @media screen and (min-width: 768px)
//             display: block

// .navigation-box
//     margin: 0 auto
//     padding: 0 0 1em 0

//     .header-logo
//         display: block

//         @media screen and (min-width: 768px)
//             display: none

// .header-logo
//     width: 225px
//     margin: 0
//     padding: 1em 0

//     @media screen and (min-width: 768px)
//         width: 300px

// .header-title
//     display: none

// .header-description
//     display: none
    
// .navigation-box
//     .header-nav

//         #header-navigation
//             text-transform: uppercase
//             padding: 0 .5em

//             @media screen and (min-width: 768px)
//                 padding: 0

//         a 
//             color: #ffffff
//             transition: 1s

//             &:hover
//                 transition: 1s
//                 color: orange

// .dropdown-menu
//     background-color: #000000

// .navbar-toggler
//     background-color: #F5F5F5
//     border: 1px solid #ccc



// .the-title
//     text-transform: uppercase
//     font-weight: bold

// .post-thumbnail
//     width: 100%
//     display: block
//     margin: 0 auto
//     padding: 1em 0
//     background-color: transparent

// .news-section-list
//     border-bottom: 1px #ccc solid
//     padding: 1.2em 0
//     &:last-child
//         border: 0

// .news-section-card
//     .col-md-4
//         margin: .5em 0

